*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-container{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}


form{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(161, 161, 161);
    height: 47%;
    padding: 3%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3%;
    box-shadow: 2px 2px 7px 0.5px rgb(204, 202, 202), -2px -2px 7px 0.5px rgb(204, 202, 202);

}
form h1{
    margin-bottom: 2%;
}

form input{
    height: 60%;
    transition: 2s;
    padding-left: 1%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form p{
    margin: 5%;
}

form h2{
    font-size: 0.9rem;
    font-weight: normal;
}

.label-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    margin-bottom: 5%;
    height: 25%;
}

h2{
    margin-bottom: 3%;
}

.enviar{
    margin-top: 2%;
    border: black;
    background-image: linear-gradient(to top, rgb(113, 16, 16) 1%, #CF000F);
    color: whitesmoke;
    height: 50%;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    transition: 2s;

}
.enviar:hover{
    background-image: linear-gradient(to top, rgb(113, 16, 16) 1%, #de0513);
    transition: 2s;
}

#eyeSvg{
    cursor: pointer;
}
